<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rabbit.seckill.mapper.SeckillGoodsMapper">
  <resultMap id="BaseResultMap" type="com.rabbit.seckill.model.SeckillGoods">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
    <result column="seckil_price" jdbcType="DECIMAL" property="seckilPrice" />
    <result column="stock_count" jdbcType="INTEGER" property="stockCount" />
    <result column="start_date" jdbcType="TIMESTAMP" property="startDate" />
    <result column="end_date" jdbcType="TIMESTAMP" property="endDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, goods_id, seckil_price, stock_count, start_date, end_date
  </sql>
  <select id="select" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_seckil
    where goods_id = #{goodsId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_seckil
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.rabbit.seckill.model.SeckillGoods">
    insert into tb_seckil (id, goods_id, seckil_price, 
      stock_count
      )
    values (#{id,jdbcType=BIGINT}, #{goodsId,jdbcType=BIGINT}, #{seckilPrice,jdbcType=DECIMAL}, 
      #{stockCount,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rabbit.seckill.model.SeckillGoods">
    insert into tb_seckil
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="seckilPrice != null">
        seckil_price,
      </if>
      <if test="stockCount != null">
        stock_count,
      </if>
      <if test="startDate != null">
        start_date,
      </if>
      <if test="endDate != null">
        end_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="seckilPrice != null">
        #{seckilPrice,jdbcType=DECIMAL},
      </if>
      <if test="stockCount != null">
        #{stockCount,jdbcType=INTEGER},
      </if>
      <if test="startDate != null">
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rabbit.seckill.model.SeckillGoods">
    update tb_seckil
    <set>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="seckilPrice != null">
        seckil_price = #{seckilPrice,jdbcType=DECIMAL},
      </if>
      <if test="stockCount != null">
        stock_count = #{stockCount,jdbcType=INTEGER},
      </if>
      <if test="startDate != null">
        start_date = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        end_date = #{endDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rabbit.seckill.model.SeckillGoods">
    update tb_seckil
    set goods_id = #{goodsId,jdbcType=BIGINT},
      seckil_price = #{seckilPrice,jdbcType=DECIMAL},
      stock_count = #{stockCount,jdbcType=INTEGER},
      start_date = #{startDate,jdbcType=TIMESTAMP},
      end_date = #{endDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateStock" parameterType="long" >
    UPDATE tb_seckil
    SET stock_count = stock_count -1
    WHERE goods_id = #{goodsId} and stock_count>0
  </update>
</mapper>